asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
django-environ
django-ulid
django-widget-tweaks
easy-colors
humanize
idna
oauthlib
pillow
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
send-mail
sqlparse
stripe
typing_extensions
tzdata
ulid-py
urllib3
uuid
python-decouple
dj_database_url
django-allauth
psycopg2-binary
whitenoise
