{% extends 'app/base.html' %}
{% load humanize %} 
{% block content %}


<h1>銀行振込</h1>
<p>銀行振り込みをご選択いただき、ありがとうございます。<br>
    ご登録いただきましたメールアドレスに下記の内容にて、<br>
    メールを送らせていただきました。<br>
    <br>
    <br>
    {{ id.first_name }} {{ id.last_name }}様<br>
    <br>
    この度は、永青文庫賛助会へのご登録をありがとうございます。<br>
    <br>
    賛助額{{ id.donation | intcomma }}円を、下記の口座までお振込みいただければ幸いです。<br>
    
    <br>
    お振込み確認後に、当美術館より、お礼のお手紙を送らせていただきます。<br>
    どうぞよろしくお願いいたします。
    <br><br>
    銀行名:<br>
    支店名:<br>
    口座種別:<br>
    口座番号:<br>
    口座名義人:<br>
    <br><br><br><br><br>
        メールアドレス:{{ id.email }}<br>
        題名:○○○○<br>
        本文:○○○○<br>

</p>



    
{% endblock %}
